<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Web Site - Edit Page</title>
    <meta name="description" content="My Web Site">
</head>

<body>
    <form method="POST"  action="/edit/{{data['page_name']}}">
        <label > Name of <em> file:</em> <br />
        <input type="text"  value="{{data['page_name']}}" name='page_name' />
        </label>
        <hr />
        ValueIs {{data['page_name']}} <br />
        ReqVal <strong> {{request.form['page_name']}}</strong> <br />
        why is it adding lines {{request.form['content']}} <br />
        data['page_name'] = request.form['page_name']
        <hr />
        <legend>Source Code</legend> 
        <textarea name="content">
            {{data['content']}}

        </textarea>
         {% if data['page_name'] == "" %}
        <button type="submit">Create</button>
        {% else %}
        <button type="submit">Edit</button>
        {% endif %}


        
        
    </form>
</body>

</html>