<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Web Site - Edit Page</title>
    <meta name="description" content="My Web Site">
</head>

<body>
    <form method="POST" placeholder ="POST" action="/edit/{{page_name}}">
        <textarea name="content" placeholder ="Enter Content" rows="40" cols="80">
        content {{page_name}}
        </textarea>
        {% if page_name == "" %}
        <button type="submit">Create</button>
        {% else %}
        <button type="submit">Edit</button>
        {% endif %}


        info {{output_page}}
        
    </form>
</body>

</html>