<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">



<!--
    by: Adrian Haro
    last modified:2/14/2020

    you can run this using the URL:

-->

<head>
    <title> page title here </title>
    <meta charset="utf-8" />

    <link href="http://nrs-projects.humboldt.edu/~st10/styles/normalize.css"
          type="text/css" rel="stylesheet" />
</head>

<body>
    <form action ="http://www.google.com/search">
    <div>
        Type your google query:
        <input name="q" value="Enter query here"/>
        <input type="submit" value="Search" />
    </div>
    
    </form>

    <hr />

    <p>
        Validate by pasting .xhtml copy's URL into<br />
        <a href="https://html5.validator.nu/">
            https://html5.validator.nu/
        </a>
    </p>

    <p>
        <a href=
           "http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
            <img src="http://jigsaw.w3.org/css-validator/images/vcss"
                 alt="Valid CSS3!" height="31" width="88" />
        </a>
    </p>

</body>
</html>